<small>
<%= link_to 'Control Panel', root_path %> <<
<%= link_to 'Client Manager', clients_path %> <<
<%= link_to @client.name, client_path %> <<
Edit Client
</small>

<h1>Edit client</h1>

<%= render 'form' %>

<p><center>
<%= link_to 'Control Panel', root_path %> |
<%= link_to 'Client Manager', clients_path %> |
<%= link_to @client.name, client_path %>
</center></p>