<small>
<%= link_to 'Control Panel', root_path %> <<
<%= link_to 'Client Manager', clients_path %> <<
New Client
</small>

<h1>New client</h1>

<%= render 'form' %>

<p><center>
<%= link_to 'Control Panel', root_path %> |
<%= link_to 'Client Manager', clients_path %>
</center></p>